include LICENSE
include README.md
include docs/guarantees.md
recursive-include python/sketchlog *.py
recursive-include benchmarks *.png
include CMakeLists.txt
recursive-include cpp *.cpp
recursive-include include *.hpp
recursive-include wasm *.cpp
